[submodule "front"]
	path = front
	url = https://github.com/LedThinking/ledthinking.health-front
	branch = main
[submodule "api"]
	path = api
	url = https://github.com/LedThinking/ledthinking.health-api
	branch = main